appdirs==1.4.4
astroid==2.5.1
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
distlib==0.3.1
filelock==3.0.12
idna==2.10
iniconfig==1.1.1
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
packaging==20.9
pipenv==2020.11.15
pluggy==0.13.1
py==1.10.0
pylint==2.7.2
pyparsing==2.4.7
pytest==6.2.3
requests==2.25.1
selenium==3.141.0
six==1.15.0
toml==0.10.2
urllib3==1.26.4
virtualenv==20.4.4
virtualenv-clone==0.5.4
wrapt==1.12.1
